In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("C:/Users/abdul/Desktop/advertising.csv")

In [4]:
data.head(10)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9
5    8.7   48.9       75.0    7.2
6   57.5   32.8       23.5   11.8
7  120.2   19.6       11.6   13.2
8    8.6    2.1        1.0    4.8
9  199.8    2.6       21.2   15.6

In [5]:
x=data[["TV","Radio","Newspaper"]]
y=data[["Sales"]]

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=100)

In [7]:
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [8]:
print("intercep",mlr.intercept_)
print("coefficients:")
list(zip(x,mlr.coef_))

intercep [4.33459586]
coefficients:

[('TV', array([0.05382911, 0.11001224, 0.00628995]))]

In [9]:
y_pred=mlr.predict(x_test)
print("prediction{}".format(y_pred))

prediction[[ 9.35221067]
 [20.96344625]
 [16.48851064]
 [20.10971005]
 [21.67148354]
 [16.16054424]
 [13.5618056 ]
 [15.39338129]
 [20.81980757]
 [21.00537077]
 [12.29451311]
 [20.70848608]
 [ 8.17367308]
 [16.82471534]
 [10.48954832]
 [ 9.99530649]
 [16.34698901]
 [14.5758119 ]
 [17.23065133]
 [12.56890735]
 [18.55715915]
 [12.12402775]
 [20.43312609]
 [17.78017811]
 [16.73623408]
 [21.60387629]
 [20.13532087]
 [10.82559967]
 [19.12782848]
 [14.84537816]
 [13.13597397]
 [ 9.07757918]
 [12.07834143]
 [16.62824427]
 [ 8.41792841]
 [14.0456697 ]
 [ 9.92050209]
 [14.26101605]
 [16.76262961]
 [17.17185467]
 [18.88797595]
 [15.50165469]
 [15.78688377]
 [16.86266686]
 [13.03405813]
 [10.47673934]
 [10.6141644 ]
 [20.85264977]
 [10.1517568 ]
 [ 6.88471443]
 [17.88702583]
 [18.16013938]
 [12.55907083]
 [16.28189561]
 [18.98024679]
 [11.33714913]
 [ 5.91026916]
 [10.06159509]
 [17.62383031]
 [13.19628335]]

In [10]:
from sklearn import metrics 
meansqrer=metrics.mean_squared_error(y_test,y_pred)
print("r sqr{:.2f}".format(mlr.score(x,y)*100))
print("msqrerr:",meansqrer)

r sqr90.11
msqrerr: 2.636076562328064